<div *ngIf="!addQuote">
<button class="btn" (click)="toggleAddQuote()">{{ button }}</button>
  <div class="card card-default">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <h5>Quote</h5>
        </div>
        <div class="col-1">
          <h5>Votes</h5>
        </div>
        <div class="col-6">
          <h5>Actions Available</h5>
        </div>
      </div>
      <div class="all-quotes">
        <div *ngIf="author">
          <div class="row" *ngFor="let quote of author.quotes; let i = index">
            <div class="col-3">
              {{ quote.content }}
            </div>
            <div class="col-1">
              {{ quote.votes }}
            </div>
            <div class="col-2">
              <button class="btn btn-block" (click)="voteUpService(i)">Vote Up</button>
            </div>
            <div class="col-2">
              <button class="btn btn-block" (click)="voteDownService(i)">Vote Down</button>
            </div>
            <div class="col-2">
              <button class="btn btn-block" [routerLink]="[i]">Edit</button>
            </div>   
            <div class="col-2">
              <button class="btn btn-block" (click)="deleteQuoteService(i)">Delete</button>
            </div>   
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="addQuote">
<button class="btn" (click)="toggleAddQuote()">{{ button }}</button>
  <form class="border">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <h4>Add Quote</h4>
          <label for="quote">Quote:</label>
          <input 
            required
            minlength="3"
            ngModel
            name="quote" 
            #quote="ngModel"
            [(ngModel)]="content"
            type="text"
            class="form-control">
            <div class="alert alert-danger" *ngIf="quote.touched && !quote.valid">
              <div *ngIf="quote.errors.required">Quote cannot be blank</div>
              <div *ngIf="quote.errors.minlength">Quote must be at least 3 characters long</div>
              <div class="alert alert-danger" *ngIf="errors.length > 0">{{ errors }}</div>
            </div>
          <button class="btn" [disabled]="!quote.valid" (click)="addQuoteService(author._id)">Add Quote</button>
        </div>
      </div>
    </div>
  </form>
</div>